@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond");
@font-face {
  font-family: "GoT";
  src: url("fonts/Game of Thrones.ttf");
}
body {
  margin: 0;
  height: 100vh;
  position: relative;
  padding-bottom: 100px;
  font-family: "GoT";
  width: 100%;
  max-width: 1960px;
  margin: 0 auto;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0px;
}
*:focus {
  outline-color: #d3bb89;
}

.section {
  height: 100vh;
  display: flex;
}
.section__image {
  background: url(img/maxresdefault.jpg);
  width: 50%;
  background-size: cover;
  background-position: center center;
}
.section__form {
  background: url(img/darknoise.png);
  width: 50%;
  font-family: "Open Sans";
}
.section__form .form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  font-family: "Open Sans";
}
.section__form .form__headline {
  font-family: Got, "Open Sans";
  color: #d3bb89;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  font-size: 32px;
  margin-bottom: 9%;
}
.section__form .form__label {
  color: #d3bb89;
  font-family: "EB Garamond";
  font-size: 22px;
  margin-top: 6%;
}
.section__form .form__input {
  border: none;
  border-bottom: 1px solid #d3bb89;
  background-color: transparent;
  color: #d3bb89;
  font-size: 19px;
  padding-bottom: 3%;
  margin-top: 3%;
}
.section__form .form__input::placeholder {
  color: grey;
}
.section__form .form__input-textarea {
  resize: none;
}
.section__form .form__ask {
  color: white;
  font-size: 12px;
}
.section__form .form__button {
  background-color: #c19a49;
  border: none;
  color: #fef8eb;
  padding: 16px 0px;
  margin-top: 7%;
  font-size: 18px;
}
.section__form .form__button:hover {
  background-color: #b38f43;
}
.section__form .form__button:active {
  transform: translateY(1px);
  background-color: #b38f43;
}
.section__form .form__ok {
  color: #fef8eb;
  font-family: serif;
  border-left: 1.5px solid #d3bb89;
  padding-left: 10px;
}
.section__form .form__select {
  position: relative;
  display: block;
  width: 20em;
  line-height: 1.5;
  background: transparent;
  overflow: hidden;
  width: 100%;
}
.section__form .form__select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  box-shadow: none;
  border: 0 !important;
  background: transparent;
  background-image: none;
  font-size: 18px;
  padding: 6px 0px;
  width: 100%;
  height: 100%;
  margin: 0;
  color: #fff;
  cursor: pointer;
}
.section__form .form__select select .option {
  background: #c19a49;
  padding: 0px;
}

.check {
  padding-left: 1.2em;
  color: #d3bb89;
}
.check__input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.check__box {
  position: absolute;
  margin-top: 0.2em;
  margin-left: -1em;
  width: 0.6em;
  height: 0.6em;
  overflow: hidden;
  border-radius: 0.05em;
  background-color: #d3bb89;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* Checked */
.check__input:checked + .check__box {
  background-color: #d3bb89;
  background-image: url(https://cdn.glitch.com/d6162378-5823-4160-a555-3d9789bd2b92%2Fcheck.svg?1550563475518);
}

/* Focused */
.check__input:focus + .check__box {
  box-shadow: 0 0 0 2px #b38f43;
}

/*# sourceMappingURL=style.css.map */
